.container{
    background-color: salmon;
    min-height: 100vh;
    padding: 128px;
}
.content{
    max-width: 800px;

}
.avatar{
    width: 256px;
    border-radius: 10%;
    box-shadow: 10px 10px 0px 0px;
    margin-bottom: 24px;
}
.name{
    font-size: 50px;
    
}
.job{
    font-size: 30px;
    margin-bottom: 24px;
}
.contact{
    font-size: 25px;
    color:blueviolet;
}
.about{
    color: rebeccapurple;
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 24px;
}
body{
    font-family: 'Kanit', sans-serif;
}